{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inmobiliaria | Profailantismo</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/inmobiliaria.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href=""><img src="" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{% url 'inmobiliaria:index' %}">INICIO</a></li>
                                <li><a href="{% url 'inmobiliaria:about' %}">acerca de</a></li>
                                <li><a href="{% url 'inmobiliaria:portfolio' %}">VIVIENDAS</a></li>
                                <li><a href="">SERVICIOS</a></li>
                                <li><a href="">Paginas</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'inmobiliaria:blog' %}">contacto</a></li>
                                        <li><a href="{% url 'inmobiliaria:contact' %}">Viviendas</a></li>
                                        <li><a href="">Blog</a></li>
                                        <li><a href="">Detalles de blog</a></li>
                                    </ul>
                                </li>
                                <li><a href="">contacto</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Sobre nosotros</h2>
                        <div class="breadcrumb__links">
                            <a href="#">Inicio</a>
                            <span>Acerca de</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="about__pic__item about__pic__item--large set-bg"
                                    data-setbg="{% static 'img/about/about-1.jpg' %}"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="{% static 'img/about/about-2.jpg' %}"></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="{% static 'img/about/about-3.JPEG' %}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>Acerca de la Inmobiliaria Profailantismo</span>
                            <h2>QUIENES SOMOS?</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__item">
                                    <div class="services__item__icon">
                                        <img src="{% static 'img/icons/si-3.png' %}" alt="">
                                    </div>
                                    <h4>Distribucion de viviendas</h4>
                                    <p>Ya sea que estés en la mitad del proceso de tu vivienda.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__item">
                                    <div class="services__item__icon">
                                        <img src="{% static 'img/icons/si-4.png' %}" alt="">
                                    </div>
                                    <h4>Alojamiento de viviendas</h4>
                                    <p>Ya sea que quieras apartar una casa o ir abonando para comprar tu vivienda.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about__text__desc">
                            <p>Formada en 2020 por jesus stone y Tamara castillo,
                                profailantismo es una inmobiliaria especializada en servicios completos y de la mas alta calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad set-bg" data-setbg="{% static 'img/testimonial-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <span>Amado por los clientes</span>
                        <h2>Que dicen los clientes?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Ofrecen un servicio tan excelente que pueden beneficiar a todo tipo de personas.</p>
                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-1.jpg' %}" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Krista Attorn</h5>
                                    <span>Cliente VIP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>El personal que atiende ofrece un servicio de muy buena calidad.</p>
                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-2.jpg' %}" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Luz Agamez</h5>
                                    <span>Cliente</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Son tan buenas las viviendas que nos ofrecen que dan ganas de comprar muchas de estas propiedades.</p>
                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-3.jpg' %}" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Rosana echenique</h5>
                                    <span>Cliente VIP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Compre una vivienda y quede encantada con sus servicios y de la muy buena calidad que nos ofrecen, me atrebo a decir que son los mejores en esté negocio.</p>
                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-4.jpeg' %}" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Marilza Amariz</h5>
                                    <span>Cliente VIP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p>Les puedo decir que si compran su vivienda en esta empresa está mas que seguro que no se arrepentiran de su decision, se los digo por experiencia.</p>
                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="{% static 'img/testimonial/ta-5.jpeg' %}" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>victoria puello</h5>
                                    <span>Cliente</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Counter Section Begin -->
    <section class="counter">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-1.png' %}" alt="">
                                <h2 class="counter_num">230</h2>
                                <p>Proyectos completados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item second__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-2.png' %}" alt="">
                                <h2 class="counter_num">1068</h2>
                                <p>Clientes felices</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item third__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-3.png' %}" alt="">
                                <h2 class="counter_num">230</h2>
                                <p>Clientes potenciales</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item four__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-4.png' %}" alt="">
                                <h2 class="counter_num">230</h2>
                                <p>Proyectos completados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
    <section class="team spad set-bg" data-setbg="{% static 'img/team-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>ENCANTADOS DE CONOCERTE</span>
                        <h2>NUESTRO EQUIPO</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-1.jpg' %}">
                        <div class="team__item__text">
                            <h4>AMANDA STONE</h4>
                            <p>Empresaria</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--second set-bg" data-setbg="{% static 'img/team/team-2.jpg' %}">
                        <div class="team__item__text">
                            <h4>JESUS STONE</h4>
                            <p>Empresario</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--third set-bg" data-setbg="{% static 'img/team/team-3.jpg' %}">
                        <div class="team__item__text">
                            <h4>TAMARA CASTILLO</h4>
                            <p>Empresaria</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--four set-bg" data-setbg="{% static 'img/team/team-4.jpg' %}">
                        <div class="team__item__text">
                            <h4>BRAYAN SOTO</h4>
                            <p>Empresario y camarografo</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p-0">
                    <div class="team__btn">
                        <a href="#" class="primary-btn">Conozca a nuestro equipo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>Sobre nosotros</h5>
                            <p>Formada en 2020 por jesus stone y Tamara castillo,
                                profailantismo es una inmobiliaria especializada en servicios completos y de la mas alta calidad.</p>
                            <a href="#" class="read__more">Leer más <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Quienes somos</h5>
                            <ul>
                                <li><a href="#">Equipo</a></li>
                                <li><a href="#">Viviendas</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">Ubicacion</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Contactenos</h5>
                            <p>Profailantismo es una inmobiliaria que se caracteriza por dar el mejor servicio posible a los clientes.</p>
                            <form>
                                <form action="https://formsubmit.co/agamezcastillojesus@gmail.com" method="POST">
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" required>
                        
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required>
                        
                                <label for="coments">Mensaje</label>
                                       <textarea name="comments" id="" cols="13" rows="2"></textarea>
                                
                                       <input type="submit" value="Enviar">
                                
  <input type="hidden" name="_next" value="http://localhost:5173">
  <input type="hidden" name="_captcha" value="false">
                            </form>
       
                             </div>
                    </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text"> &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            <i class="fa fa-heart-o"
                                aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/inmobiliaria.min.js' %"></script>
    <script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 's/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>